Q1. Create a function which will take a list as an argument and return the product of all the numbers 
after creating a flat list.


Use the below-given list as an argument for your function.


Note: you must extract numeric keys and values of the dictionary also.

In [1]:
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45, 22, 61, 34)}, [56, 'data science'], 'Machine Learning']

In [2]:
list1

[1,
 2,
 3,
 4,
 [44, 55, 66, True],
 False,
 (34, 56, 78, 89, 34),
 {1, 2, 3},
 {1: 34, 'key2': [55, 67, 78, 89], 4: (45, 22, 61, 34)},
 [56, 'data science'],
 'Machine Learning']

In [3]:
def test(a):
    n = []
    for i in a:
        if type(i)==int:
            n.append(i)
    return n

In [4]:
test(list1)

[1, 2, 3, 4]

In [5]:
def test1(a):
    n1 = []
    for i in a:
        if type(i)==list or type(i)==tuple or type(i)==set:
            for j in i:
                if type(j)==int:
                    n1.append(j)
        elif type(i)==int:
            n1.append(i)
    return n1

In [6]:
test1(list1)

[1, 2, 3, 4, 44, 55, 66, 34, 56, 78, 89, 34, 1, 2, 3, 56]

In [7]:
list1[-3]

{1: 34, 'key2': [55, 67, 78, 89], 4: (45, 22, 61, 34)}

In [8]:
type(list1[-3])

dict

In [9]:
list1[-3].keys()

dict_keys([1, 'key2', 4])

In [10]:
type(list1[-3].keys())

dict_keys

In [11]:
print(list1[-3].keys() == int)

False

In [12]:
for i in list1[-3].keys():
    if type(i)==int:
        print(i)

1
4

In [13]:
list1[-3].values()

dict_values([34, [55, 67, 78, 89], (45, 22, 61, 34)])

In [14]:
for i in list1[-3].values():
    if type(i)==int:
        print(i)

34

In [15]:
 list1[-3].items()

dict_items([(1, 34), ('key2', [55, 67, 78, 89]), (4, (45, 22, 61, 34))])

In [16]:
for i in list1[-3].items():
    if type(i)==tuple:
        for j in i:
            if type(j)==list or type(j)==tuple:
                for k in j:
                    if type(k)==int:
                        print(k)
            elif type(j)==int:
                print(j)

1
34
55
67
78
89
4
45
22
61
34

In [17]:
def test1(a):
    n1 = []
    for i in a:
        if type(i)==list or type(i)==tuple or type(i)==set:
            for j in i:
                if type(j)==int:
                    n1.append(j)
        elif type(i)==dict:
            for k in i.items():
                if type(k)==tuple:
                    for m in k:
                        if type(m)==list or type(m)==tuple:
                            for n in m:
                                if type(n)==int:
                                    n1.append(n)
                        elif type(m)==int:
                            n1.append(m)
        elif type(i)==int:
            n1.append(i)
    return n1

In [18]:
test1(list1)

[1,
 2,
 3,
 4,
 44,
 55,
 66,
 34,
 56,
 78,
 89,
 34,
 1,
 2,
 3,
 1,
 34,
 55,
 67,
 78,
 89,
 4,
 45,
 22,
 61,
 34,
 56]

In [19]:
type(test1(list1))

list

In [20]:
print(test1(list1))

[1, 2, 3, 4, 44, 55, 66, 34, 56, 78, 89, 34, 1, 2, 3, 1, 34, 55, 67, 78, 89, 4, 45, 22, 61, 34, 56]

In [21]:
from functools import reduce

In [22]:
product = reduce(lambda x,y : x*y , test1(list1))

In [23]:
print(product)

4134711838987085478833841242112000

In [24]:
def test1(a):
    n1 = []
    for i in a:
        if type(i)==list or type(i)==tuple or type(i)==set:
            for j in i:
                if type(j)==int:
                    n1.append(j)
        elif type(i)==dict:
            for k in i.items():
                if type(k)==tuple:
                    for m in k:
                        if type(m)==list or type(m)==tuple:
                            for n in m:
                                if type(n)==int:
                                    n1.append(n)
                        elif type(m)==int:
                            n1.append(m)
        elif type(i)==int:
            n1.append(i)
    product = 1
    for i in n1:
        product = product * i
            
    return product

In [25]:
test1(list1)

4134711838987085478833841242112000

Q2. Write a python program for encrypting a message sent to you by your friend. The logic of encryption should be such that, for a the output should be z. For b, the output should be y. For c, the output should 
be x respectively. Also, the whitespace should be replaced with a dollar sign. Keep the punctuation marks unchanged.


Input Sentence: I want to become a Data Scientist.


Encrypt the above input sentence using the program you just created.


Note: Convert the given input sentence into lowercase before encrypting. The final output should be lowercase.

In [26]:
input_statement = "I want to become a Data Scientist."

In [27]:
input_statement

'I want to become a Data Scientist.'

In [28]:
new_str = input_statement.lower()

In [29]:
new_str

'i want to become a data scientist.'

In [30]:
alphabet = []
# The lowercase letters from a through z are represented by integers of 97 to 122. 
for i in range(97, 123):
    alphabet.append(chr(i))

print(alphabet)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [31]:
rev_alphabet = alphabet[::-1]

In [32]:
print(rev_alphabet)

['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [33]:
print(rev_alphabet)

['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [34]:
str1 = "akshay ghatage"

In [36]:
str1 = "akshay ghatage"
str2 = alphabet
str3 = rev_alphabet
for i in str1:
    if i == " ":
        str1 = str1.replace(i, "$")
    else:    
        str1 = str1.replace(i, str3[str2.index(i)])
print(str1)

zpsszb$tsztztv

In [37]:
"" + "a"

'a'

In [38]:
import string

In [39]:
letters = string.ascii_lowercase

In [40]:
print(letters)

abcdefghijklmnopqrstuvwxyz

In [41]:
"a" in letters

True

In [42]:
def encryption1(a):
    encrypt_str2 = ""
    for i in a:
        if i in letters:
            encrypt_str2 = encrypt_str2 + rev_alphabet[alphabet.index(i)]
        elif i == " ":
            encrypt_str2 = encrypt_str2 + "$"
        elif i == ".":
            encrypt_str2 = encrypt_str2 + "."
    return encrypt_str2

In [43]:
encryption1(new_str)

'r$dzmg$gl$yvxlnv$z$wzgz$hxrvmgrhg.'

In [44]:
def encryption1(a):
    encrypt_str2 = ""
    for i in a:
        if i in letters:
            encrypt_str2 = encrypt_str2 + rev_alphabet[alphabet.index(i)]
        elif i == " ":
            encrypt_str2 = encrypt_str2 + "$"
        else:
            encrypt_str2 = encrypt_str2 + i
    return encrypt_str2

In [45]:
encryption1(new_str)

'r$dzmg$gl$yvxlnv$z$wzgz$hxrvmgrhg.'

In [46]:
chr(97)

'a'

In [47]:
ord("a")

97

In [48]:
ord("s")

115

In [49]:
ord("i")

105

In [50]:
chr(114)

'r'

In [51]:
def encryption(a):
    encrypt_str = ""
    for i in a:
        if ord(i)>96:
            encrypt_str = encrypt_str + chr(123 - (ord(i)-96))
        elif i == " ":
            encrypt_str = encrypt_str + "$"
        elif i == ".":
            encrypt_str = encrypt_str + "."
    return encrypt_str

In [52]:
encryption(new_str)

'r$dzmg$gl$yvxlnv$z$wzgz$hxrvmgrhg.'

In [54]:
# checking the output is same in both ways or not just to confirm
'r$dzmg$gl$yvxlnv$z$wzgz$hxrvmgrhg.' == 'r$dzmg$gl$yvxlnv$z$wzgz$hxrvmgrhg.'

True

In [55]:
def encryption(a):
    encrypt_str = ""
    for i in a:
        if ord(i)>96:
            encrypt_str = encrypt_str + chr(123 - (ord(i)-96))
        elif i == " ":
            encrypt_str = encrypt_str + "$"
        else:
            encrypt_str = encrypt_str + i
    return encrypt_str

In [56]:
encryption(new_str)

'r$dzmg$gl$yvxlnv$z$wzgz$hxrvmgrhg.'

In [57]:
'r$dzmg$gl$yvxlnv$z$wzgz$hxrvmgrhg.' == 'r$dzmg$gl$yvxlnv$z$wzgz$hxrvmgrhg.'

True